<!DOCTYPE html>
<html lang="Fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Enfants</title>
    {% extends 'base.html'%}
</head>
<>
    {% block content %}
        <h1>Bienvenue sur la page des Enfants</h1>
        <div class="container ">

                <div class="row">
                <div class="col">
                    <div class="card text-white bg-primary " >
                        <div class="card-header text-center ">Enfants</div>
                              <div class="card-body">
                                    <div class ="container mb-3">
                                       <a href="{% url 's_enf' %}" class= "btn btn-outline-warning">
                                        <i class="fas fa-plus"></i>Add New
                                      </a>
                                      <a href="{% url 'aux_list' %}" class= "btn btn-outline-warning  ">
                                         <i class="fas fa-plus "></i>Liste des auxiliaires
                                       </a>
                                    </div>

<!--                    <div class="col-sm">-->
<!--                        <hr>-->
<!--                            <nav class="navbar navbar-expand-sm bg-secondary navbar-secondary">-->
<!--                                <form class="form-inline my-2 my-lg-0" method="GET">-->
<!--                                    {{myFilter.form}}-->
<!--                                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--                                </form>-->
<!--                            </nav>-->
<!--                        </hr>-->
<!--                    </div>-->
                                            </div>
                                    </div>
                                            <h5 class="card-title">Liste des Enfants</h5>
                                    <table class="table table-secondary table-hover">
                                        <thead>
                                            <tr>
                                                <td scope="col">Id</td>
                                                <td scope="col">Cin</td>
                                                <td scope="col">Cin Parent</td>
                                                <td scope="col">Nom</td>
                                                <td scope="col">prénom</td>
                                                <td scope="col">Date de Naissance</td>
                                                <td scope="col">Lieu de Naissance</td>
                                                <td scope="col">Action</td>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for enf in enfs %}
                                            <tr scope="row">
                                                <td>{{ enf.id }}</td>
                                                <td>{{ enf.cin }}</td>
                                                <td>{{ enf.cin_Parent }}</td>
                                                <td>{{ enf.nom }}</td>
                                                <td>{{ enf.prenom }}</td>
                                                <td>{{ enf.d_naissance}}</td>
                                                <td>{{ enf.l_naissance }}</td>
                                                <td>
                                                    <a href="{% url 'e_enf' enf.id %}"
                                                       class="btn text-secondary px=1">
                                                        <i class="fas fa-edit fa lg">Editer</i>
                                                    </a>
                                                </td>
                                                <td>
                                                   <a href="{% url 'd_enf' enf.id %}"
                                                       class="btn text-secondary px=2">
                                                        <i class="fas fa-edit fa lg">Supprimer</i>
                                                    </a>
                                                </td>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>

                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class ="container pb-5">
                                        <div class="pagination">
                                                <span class="step-links"><!--step-links-->
                                                    {% if enfs.has_previous %}
                                                        <a href="?page=1">&laquo; Premier/</a>
                                                        <a href="?page={{ enfs.previous_page_number }}">Précedant</a>
                                                    {% endif %}
                                                    {% for num in enfs.paginator.page_range %}
                                                        {% if enfs.number == num %}
                                                        <span class=" pagination-number pagination-curent ">{{ num }}</span>
                                                        {% elif num > enfs.number|add:'-10' and num < enfs.number|add:'10' %}
                                                           <a class="  page-item active" href="?page={{ num }}">{{ num }}</a>
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if enfs.has_next %}
                                                        <a href="?page={{ enfs.next_page_number }}">Suivant/</a>
                                                        <a href="?page={{ enfs.paginator.num_pages }}">Dernier &raquo;</a>
                                                    {% endif %}
                                                </span>

                                        </div>
                                </div>







    {% endblock %}

</body>
</html>