<!DOCTYPE html>
<html lang="fr">

<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <title>Gestion des auxiliaires d'autorité</title>

</head>

<body>


    <!--</body>
</html>-->

    <head>
        <meta charset="UTF-8">
        <title>Administration</title>


    </head>

    <body>
        {% block content %}
        <h5> Bienvenu sur la page d'administration de la gestion des auxiliaires d'autorité</h5 <p>

        </p>
        <div class="list-group">
            </a>

            <a href="{% url 'a_l_aux' %}" class="list-group-item list-group-item-action">Saisie des Auxiliaires avec formulaire flotant</a>
            <a href="{% url 's_aux' %}" class="list-group-item list-group-item-action">Saisie des Auxiliaires</a>
            <a href="{% url 's_periode' %}" class="list-group-item list-group-item-action">Saisie des Périodes</a>
            <a href="{% url 's_sit_fin' %}" class="list-group-item list-group-item-action">Saisie des Situation Finanacières</a>
            <a href="{% url 's_enf' %}" class="list-group-item list-group-item-action">Saisie des Enfants</a>
            <a href="{% url 's_conj' %}" class="list-group-item list-group-item-action">Saisie des conjoints</a>
        </div>
        {% endblock content %}
    </body>

</html>